<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title%></title>
</head>
<body>
    <header>
        <ul>
            <li class="<%=active=='home'?'active':''%>"><a href="/">Home</a></li>
            <li class="<%=active=='services'?'active':''%>"><a href="/services">Services</a></li>
            <li class="<%=active=='about'?'active':''%>"><a href="/about">About</a></li>
        </ul>
    </header>
    <div id="container">

<!--
    </div>
</body>
</html>
-->